.box1 ,.playerOneBox,.playerTwoBox{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;

}
input {
    width: 200px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid black;
}
button{
    padding: 10px 20px;
    background: teal;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}
.box1Err {
    color: red;
    font-size: 20px;
}